//Colores
$gris_claro:#EFEFEF;
$gris_medio: #444;
$gris_oscuro:#ABA9A9;
$gris_button: #c2c2c2;
$negro:#000000;
$blanco:#FFFFFF;
$azul_claro:#5ABAFF;
$verde_claro:#2ce132;
$verde_medio: #AAFF69;
$verde_palo:rgb(159, 255, 159);
$rojo_claro:rgb(245, 48, 41);
$rojo_palo: rgb(255, 156, 156);
$nigga_transparente: #00000069

//Fuentes



